@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;500;800&family=Roboto+Slab:wght@600;700&display=swap');

.logincontainer{
    height:100vh;
     display: flex;
     justify-content: center;
     background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../../public/bg4.jpg);
     background-size: cover;
     align-items: center;
     overflow-y: hidden;
     font-family: cairo;
}

.loginheader{
    display: block;
    font-family: Cairo;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #a281c4;
    color:white;
    
}
 

.loginform div{
    display: block;
    padding: 10px;
}

.loginformbox{
    background-color: rgb(255, 255, 255);
     height:fit-content;
     width:35%;
     border-radius: 15px;
     padding-bottom: 7px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 3.6px;
   
}
.loginform div input{
    border-radius: 15px;
    outline: none;
    background-color:  rgb(255, 255, 255) ;
    border:1px solid rgb(165, 165, 165);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height:40px;
    width:70%;
    padding-left: 15px;

}
.loginform div button{
    width:100px;
    height:30px;
    margin-top: 15px;
    background-color: #a281c4;
    border:none;
    border-radius: 5px;
    font-family: Cairo;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color:white;
}
.loginform div button:hover{
    background-color: #9668c5;
    cursor: pointer;
}

.signupform div p{
    font-size: 15px;
    padding-top: 0;
}